{{#each data as |page|}}
  {{! template-lint-disable simple-unless }}
  {{#unless (or page.skipToc (get page "skip-toc"))}}
    {{#if (includes page.id "toc-heading")}}
      <li class="toc-heading {{tocLevel}}">
        {{page.title}}
      </li>

    {{else if page.pages}}
      <li class="toc-group {{tocLevel}}">
        {{#cp-panel open=(eq currentSection.id page.id) as |panel|}}
          {{#if fastboot.isFastBoot}}
            {{#link-to "version.show" page.id
              activeClass="selected"
              class="cp-Panel-toggle"
              data-test-toc-link=page.title
            }}
              {{page.title}}
            {{/link-to}}
          {{else}}
            {{#panel.toggle
              data-test-toc-title=page.title
            }}
              {{page.title}}
            {{/panel.toggle}}
          {{/if}}

          {{#panel.body}}
            {{table-of-contents
              currentPage=currentPage
              data=page.pages
              level=(inc level)
            }}
          {{/panel.body}}
        {{/cp-panel}}
      </li>

    {{else}}
      <li class="toc-link {{tocLevel}} {{if (eq currentPage.url page.url) "selected"}}">
        {{#link-to "version.show" page.url
          activeClass="selected"
          data-test-toc-link=page.title
        }}
          {{page.title}}
        {{/link-to}}
      </li>

    {{/if}}
  {{/unless}}
{{/each}}