{{#each @data as |page|}}
  {{#unless page.skipToc}}
    {{#if (includes page.id "toc-heading")}}
      <li class="toc-heading {{this.tocLevel}}">
        {{page.title}}
      </li>

    {{else if page.pages}}
      <li class="toc-group {{this.tocLevel}}">
        <CpPanel
          @open={{eq @currentSection.id page.id}}
          as |panel|
        >
          {{#if this.fastboot.isFastBoot}}
            <LinkTo
              @activeClass="selected"
              @model={{page.id}}
              @route="version.show"
              class="cp-Panel-toggle"
              data-test-toc-link={{page.title}}
            >
              {{page.title}}
            </LinkTo>
          {{else}}
            <panel.toggle
              data-test-toc-title={{page.title}}
            >
              {{page.title}}
            </panel.toggle>
          {{/if}}

          <panel.body>
            <TableOfContents
              @currentPage={{@currentPage}}
              @data={{page.pages}}
              @level={{inc (or @level 0)}}
            />
          </panel.body>
        </CpPanel>
      </li>

    {{else}}
      <li
        class="
          toc-link
          {{this.tocLevel}}
          {{if (eq @currentPage.url page.url) "selected"}}
        "
      >
        <LinkTo
          @activeClass="selected"
          @model={{page.url}}
          @route="version.show"
          data-test-toc-link={{page.title}}
        >
          {{page.title}}
        </LinkTo>
      </li>

    {{/if}}
  {{/unless}}
{{/each}}